#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NAV  1
#define NUM  2

&lt {
    quick-tap-ms = <200>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
// ---------------------------------------------------------------------------------------------------------------------
// |  ESC  |   Q   |   W   |   E   |   R   |   T   |       |   |       |   Y   |   U   |   I   |   O   |   P   |   -   |
// |  TAB  |   A   |   S   |   D   |   F   |   G   |   F5  |   |   F2  |   H   |   J   |   K   |   L   |   ;   |   '   |
// |  CTRL |   Z   |   X   |   C   |   V   |   B   |  DEL  |   |  F12  |   N   |   M   |   ,   |   .   |   /   |   \   |
// |       |  GUI  |  ALT  | SFT/L1|NUM/SPC|  NAV  |       |   |       |  NAV  |NUM/RET| SFT/L2|   [   |   ]   |       |
// SFT/L1 = tap LANG1 / hold LSHFT, SFT/L2 = tap LANG2 / hold RSHFT
// NUM/SPC, NUM/RET = tap SPACE/RET / hold NUM layer
            bindings = <
    &kp ESC      &kp Q         &kp W         &kp E            &kp R          &kp T         &none            &none     &kp Y         &kp U        &kp I            &kp O      &kp P       &kp MINUS
    &kp TAB      &kp A         &kp S         &kp D            &kp F          &kp G         &kp F5           &kp F2    &kp H         &kp J        &kp K            &kp L      &kp SEMI    &kp SQT
    &kp LCTRL    &kp Z         &kp X         &kp C            &kp V          &kp B         &kp DEL          &kp F12   &kp N         &kp M        &kp COMMA        &kp DOT    &kp FSLH    &kp BSLH
    &none        &kp LGUI      &kp LALT      &mt LSHFT LANG1  &lt NUM SPACE  &mo NAV       &none            &none     &mo NAV       &lt NUM RET  &mt RSHFT LANG2  &kp LBKT   &kp RBKT    &none
            >;
        };

        nav_layer {
            display-name = "Nav";
// ---------------------------------------------------------------------------------------------------------------------
// |       |       |       |       |       |       |       |   |       |  HOME |  PGDN |  PGUP |  END  |       |       |
// |       |       |       |       |       |       |       |   |       |  LEFT |  DOWN |   UP  | RIGHT |       |       |
// |  F11  |   F1  |   F2  |   F3  |   F4  |   F5  |       |   |       |   F6  |   F7  |   F8  |   F9  |  F10  |  F12  |
// |       |       |       |       |       |       |       |   |       |       |  BSPC |       |       |       |       |
            bindings = <
    &studio_unlock     &trans      &trans        &trans        &trans        &trans        &trans           &trans      &kp HOME      &kp PG_DN   &kp PG_UP   &kp END    &trans     &trans
    &trans             &trans      &trans        &trans        &trans        &trans        &trans           &trans      &kp LEFT      &kp DOWN    &kp UP      &kp RIGHT  &trans     &trans
    &kp F11            &kp F1      &kp F2        &kp F3        &kp F4        &kp F5        &trans           &trans      &kp F6        &kp F7      &kp F8      &kp F9     &kp F10    &kp F12
    &trans             &trans      &trans        &trans        &trans        &trans        &trans           &trans      &trans        &kp BSPC    &trans      &trans     &trans     &trans
            >;
        };

        num_layer {
            display-name = "Num";
// ---------------------------------------------------------------------------------------------------------------------
// |   ~   |   !   |   @   |   #   |   $   |   %   |       |   |       |   ^   |   &   |   *   |   (   |   )   |   +   |
// |   `   |   1   |   2   |   3   |   4   |   5   |       |   |       |   6   |   7   |   8   |   9   |   0   |   =   |
// |       |       |       |       |       |       |       |   |       |       |       |       |       |       |       |
// |       |       |       |       |       |       |       |   |       |       |       |       |       |       |       |
            bindings = <
    &kp TILDE &kp EXCL    &kp AT        &kp HASH      &kp DLLR      &kp PRCNT     &trans           &trans      &kp CARET     &kp AMPS    &kp ASTRK   &kp LPAR   &kp RPAR   &kp PLUS
    &kp GRAVE &kp N1      &kp N2        &kp N3        &kp N4        &kp N5        &trans           &trans      &kp N6        &kp N7      &kp N8      &kp N9     &kp N0     &kp EQUAL
    &trans    &trans      &trans        &trans        &trans        &trans        &trans           &trans      &trans        &trans      &trans      &trans     &trans     &trans
    &trans    &trans      &trans        &trans        &trans        &trans        &trans           &trans      &trans        &trans      &trans      &trans     &trans     &trans
            >;
        };
    };
};
